<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id ="cart1" class = "com.venkatesh.it.constructor.injection.two.CartItems"></bean>

<bean id ="cart2" class = "com.venkatesh.it.constructor.injection.two.CartItems"  >
<constructor-arg>
<list>
<value >laptop</value>
<value>TV</value>
<value>IPhone</value>
</list>
</constructor-arg>
</bean>

<bean id ="cart3" class ="com.venkatesh.it.constructor.injection.two.CartItems">

<constructor-arg value="venkatesh"></constructor-arg>
<constructor-arg>
<list>
<value>Laptop</value>
<value>TV</value>
<value>IPhone</value>
<value>Laptop</value>
</list>
</constructor-arg>
<constructor-arg>
<map>
<entry key ="Laptop" value="50000"></entry>
<entry key="TV" value="100000"></entry>
<entry key ="IPhone" value = "150000"></entry>
<entry key ="Laptop" value ="99999"></entry>
</map>
</constructor-arg>
</bean>

<bean id = "order1" class ="com.venkatesh.it.constructor.injection.two.Order">
<constructor-arg value="abc@gmail.com"></constructor-arg>
<constructor-arg ref ="cart3"></constructor-arg>

</bean>
  




</beans>